body {
    background-color: #a5a3a8;
    }
.nawigacja {
	background-color: #726f77;
	text-align: center;
    }
.aiuprzycisk {
	text-decoration: none;
	color: white;
    }
#header{
    width: 100%;
    height: 50px;
    }
#nav{
    background-color: #3f3e42;
    color: white;
    text-align: center;
}
#article {
    padding-left: 30px;
    padding-right: 30px;
    height: 700px;
    background-color: #8b8990;
    margin: 0 auto;
    text-align: center;
}
#footer {
    color: white;
	height: 50px;
	background-color: #3f3e42;
	margin-top: 50px;
}
.motywacja {
	width:25%;
    height:200px;
	margin: 10px;
	font-size: 40px;
    float:left;
    background-color: #3f3e42;
    border-style:solid;
    border-color:black;
    border-radius:10px;
}
	#motywacja1, #motywacja4 {
    float:left;
    }
    #motywacja2, #motywacja5 {
    float:left;
    }
    #motywacja3, #motywacja6 {
    float:right;
    }


.box{
    clear:both;
}
.card {
	width: 30%;
	height: 300px;
	margin: 10px;
	font-size: 40px;
	background: #3f3e42;
	float:left;
}


.button {
	display:block;
	padding: 14px 40px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	}
.button1 {
	background-color: #726f77; 
	color: black; 
	border: 2px solid black;
	display: block;
	padding: 14px 45px;
	width: 200px;
	}
.button1:hover {
	background-color: #a5a3a8;
	color: white;
	}
.button1:active {
	background-color: #3f3e42;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
	}
.card:hover {
	background-color: whitesmoke;
}
.tekst {
	width:800px;
	padding: 20px 10px;
	margin-left: 10px;
}